.txt-center {
    text-align: center;
    margin: auto;
}

.ml-2 {
    margin-left: 6px;
}
.mtop-4 {
    margin-top: 14px;
}
.ml-3 {
    margin-left: 9px;
}

.btn-action {
    cursor: pointer;
}

.py-2 {
    padding: 2px 0;
}
.px-12 {
    padding: 0 12px;
}

.w {
    width: 30%;
    background: none;
}

.rs-table-head {
    background: #F6F8FB;
    border-bottom: none !important;
}

.rs-th {
    border: 1px solid var(--vz-border-color);
    padding: 0.75rem 0.6rem;
}