.add-store-btn {
    background-color: #ff5a5f;
    color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.list-branch-heading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.insert-store {
    background: #000;
    width: 60vw;
    height: auto;
}

.insert-store-heading {
    padding: 5px 10px;
    background: #727DF5;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.insert-store-heading .txt {
    font-bold: bold;
    color: white;
}

.insert-store-heading .close-modal-btn {
    cursor: pointer;
    background-color: #ff5a5f;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.insert-store-body {
    padding: 20px 30px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insert-store-body input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.insert-store-body button {
    background-color: #ff5a5f;
    color: #fff;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.insert-store-body button:hover {
    background-color: #FF6E7E;
    color: #fff;
}